<footer class="page-footer blue">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Hogar Inteligente</h5>
				<p class="grey-text text-lighten-4">Sistema desarrollador para el curso de Robótica, apoyado en tecnologías como Arduino, Node.js, Jonny-Five, Sails.js, MaterializeCSS</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Integrantes</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="#!">Marlon Montalvo Flores</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Jeri Gamboa Idrogo</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Edin Ortíz Bustamante</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2017 Copyright Text
			<a class="grey-text text-lighten-4 right" href="#!">Links</a>
		</div>
	</div>
</footer>
