<style type="text/css">
	.nav-user{
		position: relative;
	}
	.nav-user img{
		display: block;
		width: 100%;
	}
	.nav-user-data{
		position: absolute;
		top: 0;
		right: 32px;
		left: 32px;
	}
	nav .divider{
		margin: 0 !important;
	}
	nav ul li *{
		color: white !important;
	}
	nav .collapsible-header{
		padding-left: 32px !important;
		padding-right: 32px !important;
	}
	nav .collapsible-body li a{
		padding-left: 50px !important;
		padding-right: 32px !important;
	}
</style>
<header>
	<nav class="blue">
		<div class="nav-wrapper container">
			<a href="#" class="brand-logo"><%= typeof title != 'undefined' ? title : 'App' %></a>
			<a href="#" data-activates="slide-out" class="button-collapse">
				<i class="material-icons">menu</i>
			</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="collapsible.html">Mi Perfil</a></li>
			</ul>
		</div>
		<ul id="slide-out" class="side-nav fixed blue-grey darken-2 app-nav">
			<li>
				<div class="nav-user">
					<img src="/images/bg01.jpg">
					<div class="nav-user-data white-text">
						<p style="margin: 8px 0; font-size: 22px; font-weight: 300;">Hogar Inteligente</p>
					</div>
				</div>
			</li>
			<li>
				<a href="#!"><i class="material-icons">person_pin</i><%= typeof username != 'undefined' ? username : 'Invitado' %></a>
			</li>
			<li><div class="divider blue-grey darken-1"></div></li>
			
			<li><a class="waves-effect app-nav-i app-nav-3" href="#ilumicion">Controlar Luces</a></li>
			<li><a class="waves-effect app-nav-i app-nav-4" href="#puerta">Controlar Puerta</a></li>
			<li><a class="waves-effect app-nav-i app-nav-1" href="#sensorluz">Sesor de Luz</a></li>
			<li><a class="waves-effect app-nav-i app-nav-2" href="#sensorpuerta">Sensor Ultrasonido</a></li>

			<li><div class="divider blue-grey darken-1"></div></li>
			<li><a class="waves-effect" href="#!">Cerrar Sesión</a></li>
		</ul>
	</nav>
	<script>
		$(".button-collapse").sideNav({
			menuWidth: 260
		});
	</script>
</header>
