
<%- partial('./app/leds.ejs') %>
<%- partial('./app/servo.ejs') %>
<%- partial('./app/light.ejs') %>
<%- partial('./app/proximity.ejs') %>

<div class="hide">
	<audio id="app-audio" src="/notificacion.ogg" preload="auto" controls></audio>
</div>

<script>

	$('.app-nav-1').click(function(ev){
		ev.preventDefault();
		$('.app-view').hide();
		$('.app-light').show();
	});
	$('.app-nav-2').click(function(ev){
		ev.preventDefault();
		$('.app-view').hide();
		$('.app-proximity').show();
	});
	$('.app-nav-3').click(function(ev){
		ev.preventDefault();
		$('.app-view').hide();
		$('.app-leds').show();
	});
	$('.app-nav-4').click(function(ev){
		ev.preventDefault();
		$('.app-view').hide();
		$('.app-servo').show();
	});

	window.app = {};

	window.app.audio = document.getElementById('app-audio');

	window.app.alert = function(message){
		window.app.audio.pause();
		window.app.currentTime = 0;

		Materialize.toast(message, 6000);
		window.app.audio.play();
	};

</script>