<!DOCTYPE html>
<html>
<head>
    <title>J5 | <%= typeof title != 'undefined' ? title : 'App' %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link rel="stylesheet" href="/vendor/materialize/css/materialize.min.css">
    <script src="/vendor/jquery-3.1.1.min.js"></script>
    <script src="/vendor/materialize/js/materialize.min.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>

    <style type="text/css">
        @font-face{
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: local('Material Icons'), local('MaterialIcons-Regular'), url(/vendor/materialize/fonts/MaterialIcons.woff2)format('woff2');
        }
        .material-icons{
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
        }
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        main {
            flex: 1 0 auto;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        footer{
            margin-top: 0 !important;
        }
        header, main, footer {
            padding-left: 260px;
        }
        @media only screen and (max-width : 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }
        .container{
            width: 90%;
        }
        table tr td{
            padding: 8px 5px !important;
        }
    </style>
</head>

<body>
	<%- partial('./partials/header.ejs') %>

	<main>
        <div class="container">
            <%- body %>
        </div>
	</main>

	<%- partial('./partials/footer.ejs') %>
</body>
</html>
