<style>
	.app-leds .switch label{
		display: block;
		width: 100%;
		left: 0;
	}
</style>
<div class="app-view app-leds" style="display: none">
	
	<h4>Control de Luces</h4>

	<br>

	<div class="row">

		<div class="col s12 m6 input-field center-align">
			<h5>Sala de Estar</h5>
			<div style="position: relative">
				<div class="switch">
					<label class="center-align">
						Apagado
						<input type="checkbox" class="app-leds-sw1">
						<span class="lever"></span>
						Encendido
					</label>
				</div>
			</div>
			<br>
			<br>
			<p class="range-field">
				<input type="range" class="app-leds-range1" min="0" max="255" />
				<span class="blue-text grey-text">Nivel de Iluminación</span>
			</p>
			<br><br>
		</div>

		<div class="col s12 m6 input-field center-align">
			<h5>Pasadizo</h5>
			<div style="position: relative">
				<div class="switch">
					<label class="center-align">
						Apagado
						<input type="checkbox" class="app-leds-sw2">
						<span class="lever"></span>
						Encendido
					</label>
				</div>
			</div>
			<br>
			<br>
			<p class="range-field">
				<input type="range" class="app-leds-range2" min="0" max="255" />
				<span class="blue-text grey-text">Nivel de Iluminación</span>
			</p>
			<br><br>
		</div>

	</div>

</div>
<script>
	(function(){

		var old1;
		var old2;

		io.socket.on('j5-leds', function(data){

			$('.app-leds-range1').val(data.value.led1);
			$('.app-leds-range2').val(data.value.led2);

			if(data.value.led1==0) 
				$('.app-leds-sw1').removeAttr('checked');
			else $('.app-leds-sw1').attr('checked', 'checked');

			if(data.value.led2==0) 
				$('.app-leds-sw2').removeAttr('checked');
			else $('.app-leds-sw2').attr('checked', 'checked');


			if(data.value.led1==0 && old1>0) app.alert('Luz de sala apagada');
			if(data.value.led1>0 && old1==0) app.alert('Luz de sala prendida');

			if(data.value.led2==0 && old2>0) app.alert('Luz de pasadizo apagada');
			if(data.value.led2>0 && old2==0) app.alert('Luz de pasadizo prendida');

			old1 = data.value.led1;
			old2 = data.value.led2;
		});

		io.socket.get('/j5/led');

		$('.app-leds-sw1').change(function(){
			if($('.app-leds-sw1').is(':checked'))
				io.socket.get('/j5/led/on/1');
			else io.socket.get('/j5/led/off/1');
		});

		$('.app-leds-sw2').change(function(){
			if($('.app-leds-sw2').is(':checked'))
				io.socket.get('/j5/led/on/2');
			else io.socket.get('/j5/led/off/2');
		});

		$('.app-leds-range1').change(function(){
			io.socket.get('/j5/led/fade/1/'+$(this).val());
		});

		$('.app-leds-range2').change(function(){
			io.socket.get('/j5/led/fade/2/'+$(this).val());
		});

	})();
</script>