<div class="app-view app-light" style="display: none">
	
	<h4>Nivel de Iluminación</h4>

	<div>
		<span>Nivel: </span>
		<span class="app-light-nivel">0</span>%
	</div>

	<br>

	<p class="range-field">
		<input type="range" class="app-light-range" min="0" max="100" readonly />
	</p>

	<br>
	

	<div class="row">
		<div class="col s12 m6 input-field">
			<p>
				<input type="checkbox" class="filled-in" id="app-light-chk-1" checked="checked" />
				<label for="app-light-chk-1">Prender luces cuando la iluminación sea menor a</label>
			</p>
			<p class="container range-field">
				<input type="range" class="app-light-range-1" min="0" max="20" value="5"/>
			</p>
			<br>
		</div>
		<div class="col s12 m6 input-field">
			<p>
				<input type="checkbox" class="filled-in" id="app-light-chk-2" checked="checked" />
				<label for="app-light-chk-2">Apagar luces cuando la iluminación sea mayor a</label>
			</p>
			<p class="container range-field">
				<input type="range" class="app-light-range-2" min="40" max="100" value="50" />
			</p>
			<br>
		</div>
	</div>

</div>
<script>
	(function(){

		io.socket.on('j5-light', function(data){

			var val = data.value * 100;
			val = parseInt(val*100)/100;
			
			$('.app-light-nivel').text(val);
			$('.app-light-range').val(val);
			
			if($('#app-light-chk-1').is(':checked')){
				if(val<$('.app-light-range-1').val()){
					io.socket.get('/j5/led/on/1');
					io.socket.get('/j5/led/on/2');
				}
			}

			if($('#app-light-chk-2').is(':checked')){
				if(val>$('.app-light-range-2').val()){
					io.socket.get('/j5/led/off/1');
					io.socket.get('/j5/led/off/2');
				}
			}
		});

		io.socket.get('/j5/light');

	})();
</script>