<div class="app-view app-proximity" style="display: none">
	
	<h4>Sensor Ultrasonido</h4>

	<div class="row">
		<div class="col s12 input-field">
			<p>
				<input type="checkbox" class="filled-in" id="app-proximity-chk" checked="checked" />
				<label for="app-proximity-chk">Alertarme cuando alguien cruze la entrada</label>
			</p>
			<br>
			<p>
				<input type="checkbox" style="display: none !important" />
				<label for="">Sensibilidad del Sensor</label>
			</p>
			<p class="container range-field">
				<input type="range" class="app-proximity-range" min="0" max="100" value="90"/>
			</p>
		</div>
	</div>

</div>
<script>
	(function(){

		var timer = false;

		io.socket.on('j5-proximity', function(data){

			var val = data.value;
			var min = $('.app-proximity-range').val();
			min = (12.5 * min)/100;
			
			if($('#app-proximity-chk').is(':checked') && val>=1){
				if(val<min){
					console.log('Ultrasonido: '+val);
					if(timer === false){
						app.alert('Alguien cruzó la puerta');
						timer = true;
						window.setTimeout(function(){
							timer = false;
						}, 1000);
					}
				}
			}

		});

		io.socket.get('/j5/proximity');

	})();
</script>