<div class="app-view app-servo" style="display: none">
	
	<h4>Control de Puerta Principal</h4>

	<br>
	
	<div>
		<span class="left">Cerrado</span>
		<span class="right">Abierto</span>
		<p class="range-field">
			<input type="range" class="app-servo-range" min="0" max="90" />
		</p>
	</div>

	<br>

	<div class="row">
		<div class="col s12 center-align" style="font-size: 18px">
			<p>Puede deslizar la barra para controllar manualmente la puerta, o usar los siguientes botones.</p>
		</div>
		<div class="col s12 m6 input-field center-align">
			<button class="btn waves-effect waves-light app-servo-btn1" type="submit" name="action">Cerrar</button>
		</div>
		<div class="col s12 m6 input-field center-align">
			<button class="btn waves-effect waves-light app-servo-btn2" type="submit" name="action">Abrir</button>
		</div>
	</div>

</div>
<script>
	(function(){

		var old;

		io.socket.on('j5-servo', function(data){

			$('.app-servo-range').val(data.value);

			if(data.value==0 && old>0) app.alert('Puerta cerrada');
			if(data.value>0 && old==0) app.alert('Puerta abierta');

			old = data.value;
		});

		$('.app-servo-btn1').click(function(ev){
			ev.preventDefault();
			io.socket.get('/j5/servo/close');
		});

		$('.app-servo-btn2').click(function(ev){
			ev.preventDefault();
			io.socket.get('/j5/servo/open');
		});

		$('.app-servo-range').change(function(ev){
			io.socket.get('/j5/servo/to/'+$(this).val());
		});

		io.socket.get('/j5/servo');

	})();
</script>