body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.container{
	width: 90%;
}

header, main, footer {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

#porcentaje{
	display: inline-block;
	padding: 20px;
}
#porcentaje:after{
	content: ' %';
}